body.welcome { 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg11large.jpg")
}

section {
  font-family: 'Droid Sans', sans-serif; font-size: 16px;
}

p {
  font-family: 'Droid Sans', sans-serif; font-size: 60px; color: mediumpurple; text-shadow: 1.5px 1.5px #FF7F50
}


li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  font-weight: bold; 
}

article {
  margin: auto;
  border-style: solid;
  border-width: thin;
  background-color: #FF851B;
  width: 640px;
    
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0.1px solid #FF851B;
  
}



ul {
  width:600px;    
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 15px;
  line-height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 2px 2px 3px #6D0DFF;
  -webkit-box-shadow: 2px 3px 2px #6D0DFF;
  -moz-box-shadow: 2px 2px 3px #FF9A00;
  background: #FF9A00;
  border: solid 2px #FF9A00;
  position:relative;
  z-index:999;
  display: inline-block;
  list-style-type: none;
}







button.print-button {
  width: 100px;
  height: 100px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}


