body.welcome {
    background-image: url("bg5.jpg")
}

section {
  font-family: 'Droid Sans', sans-serif; font-size: 16px;
}

p {
  font-family: 'Droid Sans', sans-serif;
}


li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  font-weight: bold; 
}

article {
  margin: auto;
  border-style: solid;
  border-width: thin;
  background-color: #FF851B;
  width: 640px;
    
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0.1px solid #FF851B;
  
}



ul {
  width:600px;
  left: 34%;    
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 15px;
  line-height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 2px 2px 3px #6D0DFF;
  -webkit-box-shadow: 2px 3px 2px #6D0DFF;
  -moz-box-shadow: 2px 2px 3px #FF9A00;
  background: #FF9A00;
  border: solid 2px #FF9A00;
  position:relative;
  z-index:999;
}


